<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="system.runtime.caching" type="System.Runtime.Caching.Configuration.CachingSectionGroup, System.Runtime.Caching">      
      <section name="memoryCache" type="System.Runtime.Caching.Configuration.MemoryCacheSection, System.Runtime.Caching" />
    </sectionGroup>
  </configSections>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default"
             physicalMemoryLimitPercentage="40"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>